@tailwind base;
@tailwind components;
@tailwind utilities;


/* HTML, body, heading */
@layer base {
  body {
      @apply bg-[#000] text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-red-600;
      @apply bg-pattern bg-repeat;
  }
  header {
      @apply fixed top-0 z-50 flex w-full items-center justify-between
      px-4 py-4 transition-all lg:px-10 lg:py-6;
  }

}

/* Para tamaños de pantalla móvil */
@media (max-width: 640px) {
  .custom-object {
    width: 100%;
  }
}

/* Para tamaños de pantalla de escritorio */
@media (min-width: 641px) {
  .custom-object {
    width: 80%;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
